body {
    margin: 0;
    background-color: #cccccc;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

img {
    border: 0;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #cccccc;
    padding-bottom: 60px;
}

.main {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #171a1b;
}

.two-columns {
    text-align: center;
    font-size: 0;
}

    .two-columns .column {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    .two-columns .last {
        padding: 15px 0;
    }

    .two-columns .padding {
        padding: 0 40px;
    }

    .two-columns .content {
        line-height: 20px;
        text-align: left;
    }

.codigo {
    border-radius: 5px;
    padding: 12px 20px;
    border: solid 2px #F7A707;
    font-size: 24px;
    display: inline-block;
    letter-spacing: 2px;
}
